.logo-link{
    position: relative;
    left: 216.28;
    width: 124px;
    height: 60px;
    padding-right: 60.98px;
    color: #7A1401;
}

.logo-title{
    width: 64px;
    height: 60px;
    font-family:'Times New Roman', Times, serif;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0.55px;
    color: #7A1401;

}